.password-history-container {
  flex: 1;
}

.heading-text {
  color: var(--primary-color);
  text-shadow: 2px 2px 0px var(--secondary-color);
  font-size: 3.2rem;
  font-weight: 700;
}

.password-history-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.password-history {
  display: flex;
  height: 6rem;
  padding: 1.3rem;
  border: 5px solid var(--primary-color);
  box-shadow: 6px 7px 0 0 var(--secondary-color);
  align-items: center;
  gap: 1rem;
}

.password-text {
  flex: 1;
  font-size: 2.2rem;
  color: var(--primary-color);
}

.copy-icon {
  width: 3rem;
  aspect-ratio: 1;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-out, scale 0.3s ease;
}

.copy-icon:hover {
  opacity: 1;
  scale: 1.05;
}

.copied-icon {
  width: 3rem;
  aspect-ratio: 1;
  animation: fadeUp 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: scale 0.3s ease;
}

@keyframes fadeUp {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

.clear-history {
  color: var(--primary-color);
  text-shadow: 2px 2px 0px var(--secondary-color);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2.2rem;
  text-align: center;
  cursor: pointer;
  transition: text-shadow 0.2s ease-in, color 0.3s ease-out;
}

.clear-history:hover {
  text-shadow: none;
  color: var(--danger-color);
}

.empty-history {
  color: var(--secondary-color);
  font-size: 2rem;
  margin-top: 4rem;
  text-align: center;
}
