.password-generator {
  padding-top: 5.5rem;
}

.head-title {
  color: var(--primary-color);
  text-shadow: 4px 4px 0 var(--secondary-color);
  font-size: 5.5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.content-wrapper {
  display: flex;
  gap: 11.8rem;
  margin-top: 4rem;
}

/* Left */
.generate-password-container {
  width: 52.2rem;
}
