.password-generator {
  padding-top: 5.5rem;
}

.head-title {
  color: var(--primary-color);
  text-shadow: 4px 4px 0 var(--secondary-color);
  font-size: 5.5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.content-wrapper {
  display: flex;
  gap: 11.8rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}

/* Left */
.generate-password-container {
  flex: 1;
}

@media screen and (max-width: 425px) {
  .password-generator {
    padding-block: 2rem;
  }

  .content-wrapper {
    gap: 4rem;
    margin-top: 0;
  }

  .head-title {
    font-size: 4.5rem;
  }
}
