@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset font-size to 1rem = 10px */
/* 1.6rem = 16px */
/* .1rem = 1px */
html {
  font-size: 62.5%;
}

:root {
  color-scheme: light dark;

  --font-family: "Lexend", sans-serif;
  --primary-color: #3a3a3a;
  --secondary-color: rgba(0, 0, 0, 0.25);
  --white-color: #fff;
  --black-color: #000;
  --success-color: #03db0b;
  --danger-color: #f10707;
  --warning-color: #f1d907;
  --info-color: #079df1;

  background-color: var(--white-color);
}

button {
  outline: none;
  font-family: inherit;
}

.container {
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 10px;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: var(--white-color);
    background-color: var(--black-color);
  }
} */
